@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*------------------ МОИ ИЗМЕНЕНИЯ ------------------------*/
/*------------------ МОИ ИЗМЕНЕНИЯ ------------------------*/
/*------------------ МОИ ИЗМЕНЕНИЯ ------------------------*/
/*------------------ МОИ ИЗМЕНЕНИЯ ------------------------*/
/*------------------ МОИ ИЗМЕНЕНИЯ ------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 84px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 130px 0;
  }
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
    padding: 0 31px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 55px;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}
@media screen and (max-width: 420px) {
  .subtitle {
    font-size: 9px;
  }
}
.subtitle--transparent {
  color: rgba(157, 164, 189, 0.6);
}

.subtitle:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  letter-spacing: 0.05em;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 42px;
    line-height: 1.167;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 42px;
    line-height: 1.167;
  }
}
.title--light {
  color: #ffffff;
}

.order-button {
  display: block;
  padding: 12px 19px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  transition: background-color 200ms linear;
}
.order-button:hover {
  background-color: #ff6c00;
  cursor: pointer;
}
.order-button--dark-text {
  color: #303030;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  z-index: 2;
}
@media screen and (min-width: 1280px) {
  .header {
    padding-top: 28px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-link {
    margin-right: 46px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-link {
    margin-right: 70px;
  }
}

.header__logo-icon {
  display: block;
  width: 67px;
  height: 56px;
  fill: white;
}
@media screen and (min-width: 768px) {
  .header__logo-icon {
    width: 69px;
    height: 56px;
    fill: #303030;
  }
}

.header__menu-icon {
  display: block;
  width: 24px;
  height: 16px;
  fill: #ffffff;
  transition: fill 200ms linear;
}
@media screen and (min-width: 768px) {
  .header__menu-icon {
    display: none;
  }
}
.header__menu-icon:hover {
  fill: #ff6c00;
}

.header__menu-button {
  padding: 12px 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-wrapper {
  display: flex;
  align-items: baseline;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .nav-wrapper {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .nav {
    margin-right: 45px;
  }
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1280px) {
  .nav__item:not(:last-child) {
    margin-right: 40px;
  }
}

.nav__link {
  display: block;
  padding: 19px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: color 200ms linear;
}
.nav__link:hover, .nav__link:focus {
  color: #ff6c00;
  cursor: url(../images/finger.svg), pointer;
}

@media screen and (max-width: 767px) {
  .header__right {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__right {
    margin-left: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

@media screen and (max-width: 1279px) {
  .header__button {
    margin-bottom: 20px;
  }
}
.header__button:hover {
  cursor: url(../images/finger.svg), pointer;
}

.header__phone {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: url(../images/finger.svg), pointer;
}
@media screen and (min-width: 1280px) {
  .header__phone {
    margin-right: 40px;
    padding: 19px 0;
  }
}

.header-social {
  position: absolute;
  left: -194px;
  top: 318px;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: center right;
}
@media screen and (max-width: 767px) {
  .header-social {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header-social {
    left: -185px;
  }
}

.header-social:before {
  content: "";
  display: inline-block;
  margin-right: 40px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.header-social__item:not(:last-child) {
  margin-right: 40px;
}

.header-social__link {
  padding: 20px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  cursor: url(../images/finger-rotate.svg), pointer;
  transition: color 200ms linear;
}
.header-social__link:hover {
  color: #ff6c00;
}

.hero {
  position: relative;
  height: 580px;
  padding-top: 208px;
  padding-bottom: 183px;
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 480px 580px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-480@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 274px;
    padding-bottom: 245px;
    height: 680px;
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-768.jpg);
    background-position: calc(50% + 80px);
    background-size: 609px 680px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-768@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 272px;
    padding-bottom: 206px;
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-1200.jpg);
    background-position: calc(50% + 78px);
    background-size: 1125px 680px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero3-1200@2x.jpg);
  }
}

.hero__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 0 134px 0 279px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    padding: 0 520px 0 255px;
  }
}

.hero__subtitle {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 18px;
  }
}

.hero__title {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (max-width: 420px) {
  .hero__title {
    font-size: 37px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;
  }
}

.hero__text {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (max-width: 480px) {
  .hero__text {
    width: 65%;
  }
}
@media screen and (max-width: 420px) {
  .hero__text {
    font-size: 14px;
    line-height: 1.5;
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}

.hero__slider-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 30px;
  top: 55px;
  right: 39px;
}
@media screen and (max-width: 767px) {
  .hero__slider-icon {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__slider-icon {
    right: 57px;
  }
}

.slider-btns {
  position: absolute;
  bottom: 40px;
  left: calc(50% + 200px);
  display: flex;
}
@media screen and (max-width: 767px) {
  .slider-btns {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .slider-btns {
    left: calc(50% + 440px);
  }
}

.slider-btns__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}
.slider-btns__btn:not(:last-child) {
  margin-right: 26px;
}
.slider-btns__btn--forward {
  align-items: flex-end;
  color: #ffffff;
}

.slider-btns__btn--back::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
  margin-top: 8px;
}

.slider-btns__btn--forward::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 8px;
}

.mobile-menu__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.2);
  z-index: 22;
  opacity: 1;
  transition: opacity 200ms linear, visibility 200ms linear;
}
@media screen and (min-width: 768px) {
  .mobile-menu__backdrop {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 118px;
  padding-left: 40px;
  width: 337px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  z-index: 23;
  transform: translateX(0);
  transition: transform 200ms linear 200ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__backdrop.is-hidden {
  transform: opacity 200ms linear 200ms, visibility 200ms linear 200ms;
}

.is-hidden .mobile-menu {
  transform: translateX(100%);
  transition: transform 200ms linear;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 48px;
  right: 31px;
  padding: 11px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-menu__icon {
  display: block;
  width: 19px;
  height: 19px;
  fill: #303030;
  transition: fill 200ms linear;
}
.mobile-menu__close-btn:hover .mobile-menu__icon {
  fill: #ff6c00;
}

.mobile-nav {
  margin-bottom: 64px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 200ms linear;
}
.mobile-nav__link:hover {
  color: #ff6c00;
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.mobile-menu__phone {
  margin-bottom: 24px;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.1em;
  color: #303030;
}

.mobile-menu__order-btn {
  padding: 12px 37px;
  color: #303030;
}
.mobile-menu__order-btn:hover {
  cursor: pointer;
}

.mobile-social__wrapper {
  position: relative;
}
.mobile-social__wrapper::before {
  position: absolute;
  left: 0;
  top: 10px;
  margin-right: 40px;
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.mobile-social {
  padding-left: 100px;
}

.mobile-social__item:not(:last-child) {
  margin-bottom: 24px;
  margin-right: 30px;
}

.mobile-social__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 200ms linear;
}
.mobile-social__link:hover {
  color: #ff6c00;
}

.about__container {
  display: flex;
}

.about__images {
  margin-right: 30px;
  flex-basis: 330px;
  flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .about__images {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .about__images {
    display: flex;
    margin-right: 64px;
  }
}

.about__thumb {
  width: 330px;
  height: 235px;
}
.about__thumb:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 1280px) {
  .about__thumb {
    width: 270px;
    height: 445px;
  }
  .about__thumb:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .about__title {
    max-width: 330px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__title {
    font-size: 28px;
    line-height: 1.179;
    letter-spacing: 0.05em;
  }
}

.about__paragraph {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  color: #555555;
}
.about__paragraph:nth-last-child(2) {
  margin-bottom: 40px;
  max-width: 480px;
  font-size: 14px;
  line-height: 1.857;
}
@media screen and (min-width: 1280px) {
  .about__paragraph {
    max-width: 480px;
    font-size: 18px;
    line-height: 1.667;
  }
}

.services {
  background-image: url(../images/services/services480.png), linear-gradient(to right, #111319, #111319);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 480px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .services {
    background-image: url(../images/services/services480@2x.png), linear-gradient(to right, #111319, #111319);
  }
}
@media screen and (min-width: 768px) {
  .services {
    background-image: url(../images/services/services768.png), linear-gradient(to right, #111319, #111319);
    background-size: 768px;
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .services {
    background-image: url(../images/services/services768@2x.png), linear-gradient(to right, #111319, #111319);
  }
}
@media screen and (min-width: 1280px) {
  .services {
    background-image: url(../images/services/services1280.png), linear-gradient(to right, #111319, #111319);
    background-size: 1280px;
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .services {
    background-image: url(../images/services/services1280@2x.png), linear-gradient(to right, #111319, #111319);
  }
}

.services__subtitle {
  margin-bottom: 20px;
}

.services__title {
  margin-bottom: 44px;
}

.services__table {
  width: 418px;
}

.services-tables {
  margin-bottom: 50px;
  padding: 30px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (min-width: 768px) {
  .services-tables {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .services-tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
}

.services-tables__table {
  font-size: 14px;
  line-height: 2.143;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .services-tables__table {
    font-size: 18px;
    line-height: 1.667;
  }
}
@media screen and (min-width: 1280px) {
  .services-tables__table {
    padding: 30px 40px;
  }
}

@media screen and (max-width: 1279px) {
  .services-tables__table--left {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .services-tables__table--right {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.services-tables__row {
  display: flex;
  justify-content: space-between;
}
.services-tables__row:not(:last-child) {
  margin-bottom: 20px;
}

.services-tables__line {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  padding-bottom: 8px;
}
.services-tables__line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin: 0 6px;
}

.services__button {
  margin: 0 auto;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .why {
    padding-bottom: 119px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why {
    padding-bottom: 135px;
  }
}
@media screen and (min-width: 1280px) {
  .why {
    padding-bottom: 165px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1280px) {
  .why__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .why__contant-wrapper {
    flex: 0 0 50%;
    order: 2;
  }
}

.why__subtitle {
  margin-bottom: 20px;
}

.why__title {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.167;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__title {
    width: 420px;
  }
}

.why__paragraph {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__paragraph {
    width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .why__cards-wrapper {
    flex: 0 0 50%;
    order: 1;
    display: flex;
    justify-content: center;
  }
}

.why__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
  grid-template-rows: repeat(2, 133px);
  gap: 30px;
}
@media screen and (max-width: 425px) {
  .why__cards {
    grid-template-rows: repeat(4, 133px);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__cards {
    width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1280px) {
  .why__cards {
    width: 370px;
  }
}

.why__card {
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
}
@media screen and (min-width: 426px) {
  .why__card:nth-child(2), .why__card:nth-child(4) {
    position: relative;
    top: 35px;
  }
}

.why__card-quantity {
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.357;
  letter-spacing: 0.05em;
  color: #303030;
}
.why__card-quantity::after {
  padding: 5px 0 0 2px;
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  color: #ff6c00;
}

.why__card-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .masters__container {
    padding: 0 159px 0 159px;
  }
}

.masters__subtitle {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .masters__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
}

.masters__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.167;
}

.masters__thumb {
  width: 100%;
}

.masters__image {
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .masters__master:not(:last-child) {
    margin-bottom: 64px;
  }
}

.masters__content {
  padding-top: 30px;
  text-align: center;
}

.masters__name {
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.masters__social {
  display: flex;
  justify-content: center;
}

.master__social-item:not(:last-child) {
  margin-right: 10px;
}

.master__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}
.master__social-link:hover .master__social-svg, .master__social-link:focus .master__social-svg {
  fill: #ff6c00;
  transition: fill 200ms linear;
}

.master__social-svg {
  display: block;
  width: 20px;
  height: 20px;
}

.portfolio__subtitle {
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .portfolio__subtitle {
    line-height: 1.909;
  }
}

.portfolio__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio__list {
  display: grid;
  gap: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__thumb {
    max-width: 418px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px -1px) {
  .portfolio__thumb {
    width: 330px;
    height: 360px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio__thumb {
    width: 270px;
    height: 360px;
  }
}

.portfolio__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts {
  background-color: #191c26;
  padding-bottom: 0;
}
@media screen and (min-width: 1280px) {
  .contacts {
    padding-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__container {
    display: flex;
    margin-left: calc(50% - 640px);
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .contacts-order {
    margin: 0 auto;
    max-width: 480px;
    padding: 0 31px 84px 31px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts-order {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 39px 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-order {
    flex-shrink: 0;
    padding: 130px 40px 130px 55px;
    width: 655px;
  }
}

.contacts-order__title {
  margin-bottom: 44px;
  font-size: 42px;
  line-height: 1.667;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contacts-order__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .contacts-order__contacts-group {
    display: flex;
  }
}

.contacts-order__name,
.contacts-order__phone {
  display: block;
  margin-bottom: 44px;
  width: 100%;
  padding: 8px 4px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-size: 14px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #ffffff;
  transition: border-color 250ms linear;
}
.contacts-order__name::placeholder,
.contacts-order__phone::placeholder {
  font-weight: 600;
  color: rgba(157, 164, 189, 0.4);
  text-transform: lowercase;
  transition: border-color 250ms linear, box-shadow 150ms linear;
}
.contacts-order__name:hover,
.contacts-order__phone:hover {
  border-bottom: 1px solid #ffffff;
}
.contacts-order__name:hover::placeholder,
.contacts-order__phone:hover::placeholder {
  color: #ffffff;
}
.contacts-order__name:focus,
.contacts-order__phone:focus {
  outline: none;
  border: 1px solid #ff6c00;
  border-radius: 4px;
  box-shadow: 0 0 4px #ff6c00 inset;
}
.contacts-order__name:focus::placeholder,
.contacts-order__phone:focus::placeholder {
  color: rgba(157, 164, 189, 0.4);
}
@media screen and (min-width: 768px) {
  .contacts-order__name:not(:last-child),
.contacts-order__phone:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts-order__message {
  display: block;
  margin-bottom: 44px;
  width: 100%;
  min-height: 76px;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color 250ms linear, box-shadow 150ms linear;
}
.contacts-order__message::placeholder {
  color: rgba(157, 164, 189, 0.4);
  text-transform: lowercase;
  font-weight: 600;
  transition: color 250ms linear;
}
.contacts-order__message:hover {
  border-bottom: 1px solid #ffffff;
}
.contacts-order__message:hover::placeholder {
  color: #ffffff;
}
.contacts-order__message:focus {
  outline: none;
  border-radius: 4px;
  border: 1px solid #ff6c00;
  box-shadow: 0 0 4px #ff6c00 inset;
}
.contacts-order__message:focus::placeholder {
  color: rgba(157, 164, 189, 0.4);
}

.contacts-order__button {
  margin: 0 auto;
  padding-left: 38px;
  padding-right: 38px;
}
@media screen and (min-width: 768px) {
  .contacts-order__button {
    margin-left: 0;
  }
}

.address {
  padding: 84px 0;
}
@media screen and (max-width: 767px) {
  .address {
    background-image: url(../images/contacts/contacts480.png), linear-gradient(to right, #111319, #111319);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .address {
    background-image: url(../images/contacts/contacts480@2x.png), linear-gradient(to right, #111319, #111319);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .address {
    padding: 100px 0;
    background-image: url(../images/contacts/contacts768.png), linear-gradient(to right, #111319, #111319);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279px) and (min-resolution: 2dppx) {
  .address {
    background-image: url(../images/contacts/contacts768@2x.png), linear-gradient(to right, #111319, #111319);
  }
}
@media screen and (min-width: 1280px) {
  .address {
    width: 100%;
    padding: 130px 0 130px 100px;
    background-image: url(../images/contacts/contacts1280.png), linear-gradient(to right, #111319, #111319);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .address {
    background-image: url(../images/contacts/contacts1280@2x.png), linear-gradient(to right, #111319, #111319);
  }
}

@media screen and (max-width: 767px) {
  .address__content {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 31px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .address__content {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 39px;
  }
}

.address__title {
  margin-bottom: 40px;
  font-size: 42px;
  line-height: 1.667;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .address__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .address__text-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .address__list {
    margin-right: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .address__list {
    margin-bottom: 70px;
  }
}

.address__item {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (max-width: 767px) {
  .address__item:last-child {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .address__item {
    width: 252px;
  }
}

.address__item-link {
  transition: color 250ms linear;
}
.address__item-link:hover, .address__item-link:focus {
  color: #ffffff;
}

.address__item-link--email {
  text-decoration: underline;
}

.address__icon {
  flex-shrink: 0;
  display: block;
  margin-top: 4px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.address__hours-title {
  margin-bottom: 20px;
  color: #ffffff;
}
.address__hours-title::before {
  background-color: rgba(157, 164, 189, 0.4);
}

.address__hours-text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer {
  padding: 29px 0 44px 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 41px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .footer__social {
    margin-bottom: 5px;
  }
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__social-list::before {
  content: "";
  display: block;
  margin-right: 40px;
  height: 1px;
  width: 60px;
  background-color: #303030;
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

.footer__social-link {
  display: block;
  padding: 15px 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  cursor: pointer;
  transition: color 250ms linear;
}
.footer__social-link:hover, .footer__social-link:focus {
  color: #ff6c00;
}

.footer__copy {
  display: flex;
  align-items: center;
}

.footer__copy-icon {
  display: block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  fill: #9da4bd;
}

.footer__copy-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

/*# sourceMappingURL=main.css.map */
