.contacts {
  background-color: $contactsBackground;
  padding-bottom: 0;

  @media screen and (min-width: $desktop) {
    padding-top: 0;
  }
}

.contacts__container {
  @media screen and (max-width: $desktop - 1px) {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 0;
    margin-left: calc(50% - 640px);
  }
}

.contacts-order {
  @media screen and (max-width: $tablet - 1px) {
    margin: 0 auto;
    max-width: 480px;
    padding: 0 31px 84px 31px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 39px 100px 39px;
  }

  @media screen and (min-width: $desktop) {
    flex-shrink: 0;
    padding: 130px 40px 130px 55px;
    width: 655px;
  }
}

.contacts-order__title {
  margin-bottom: 44px;

  font-size: 42px;
  line-height: 1.667;
  text-align: center;
  color: $titleLight;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.contacts-order__contacts-group {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.contacts-order__name,
.contacts-order__phone {
  margin-bottom: 44px;

  display: block;
  width: 100%;
  padding: 8px 4px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $contactsGray;

  font-size: 14px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: $lightTextColor;

  transition: border-color 250ms linear;

  &::placeholder {
    font-weight: 600;
    color: $contactsGray;
    text-transform: lowercase;

    transition: border-color 250ms linear, box-shadow 150ms linear;
  }

  &:hover {
    border-bottom: 1px solid $lightTextColor;

    &::placeholder {
      color: $lightTextColor;
    }
  }

  &:focus {
    border-bottom: 1px solid $lightTextColor;

    &::placeholder {
      color: $contactsGray;
    }
  }

  &:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid $accentColor;
    box-shadow: 0 0 4px $accentColor inset;
  }

  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-order__message {
  margin-bottom: 44px;

  display: block;
  width: 100%;
  min-height: 76px;
  padding: 4px 4px;

  font-size: 14px;
  line-height: 1.364;
  letter-spacing: 0.1em;
  color: $lightTextColor;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid $contactsGray;

  transition: border-color 250ms linear, box-shadow 150ms linear;

  &::placeholder {
    color: $contactsGray;
    text-transform: lowercase;
    font-weight: 600;

    transition: color 250ms linear;
  }

  &:hover {
    border-bottom: 1px solid $lightTextColor;

    &::placeholder {
      color: $lightTextColor;
    }
  }

  &:focus {
    border-bottom: 1px solid $lightTextColor;

    &::placeholder {
      color: $contactsGray;
    }
  }

  &:focus {
    outline: none;
    border-radius: 4px;
    border: 1px solid $accentColor;
    box-shadow: 0 0 4px $accentColor inset;
  }
}

.contacts-order__button {
  margin: 0 auto;
  padding-left: 38px;
  padding-right: 38px;

  @media screen and (min-width: $tablet) {
    margin-left: 0;
  }
}

.address {
  padding: 84px 0;

  @media screen and (max-width: $tablet - 1px) {
    background-image: url(../images/contacts/contacts480.png),
      linear-gradient(to right, #111319, #111319);
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 480px;
    height: 100%;
    background-size: cover;

    @media screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts480@2x.png),
        linear-gradient(to right, #111319, #111319);
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    padding: 100px 0;

    background-image: url(../images/contacts/contacts768.png),
      linear-gradient(to right, #111319, #111319);
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 480px;
    height: 100%;
    background-size: cover;

    @media screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts768@2x.png),
        linear-gradient(to right, #111319, #111319);
    }
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    padding: 130px 0 130px 100px;

    background-image: url(../images/contacts/contacts1280.png),
      linear-gradient(to right, #111319, #111319);
    background-repeat: no-repeat;
    // height: 100%;
    background-position: center;
    background-size: cover;

    @media screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/contacts/contacts1280@2x.png),
        linear-gradient(to right, #111319, #111319);
    }
  }
}

.address__content {
  @media screen and (max-width: $tablet - 1px) {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 31px;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    max-width: $tablet;
    margin: 0 auto;
    padding: 0 39px;
  }
}

.address__title {
  margin-bottom: 40px;

  font-size: 42px;
  line-height: 1.667;
  text-align: center;
  color: $titleLight;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }
}

.address__text-wrapper {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    display: flex;
  }
}

.address__list {
  @media screen and (min-width: $tablet) {
    margin-right: 100px;
  }
}

.address__item {
  margin-bottom: 20px;

  display: flex;
  align-items: flex-start;

  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: $secondTextColor;

  &:last-child {
    @media screen and (max-width: $tablet - 1px) {
      margin-bottom: 44px;
    }
  }

  @media screen and (min-width: $tablet) {
    width: 252px;
  }
}

.address__item-link {
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $lightTextColor;
  }
}

.address__item-link--email {
  text-decoration: underline;
}

.address__icon {
  flex-shrink: 0;
  margin-top: 4px;
  margin-right: 16px;
  display: block;
  width: 24px;
  height: 24px;
}

.address__hours-title {
  margin-bottom: 20px;
  color: $lightTextColor;

  &::before {
    background-color: $contactsGray;
  }
}

.address__hours-text {
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  color: $secondTextColor;
}
