.footer {
  padding: 29px 0 44px 0;
  background-color: $mastersBackground;

  @media screen and (min-width: $tablet) {
    padding: 41px 0;
  }
}

.footer__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

.footer__social {
  @media screen and (max-width: $tablet - 1px) {
    margin-bottom: 5px;
  }
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__social-list::before {
  content: '';
  display: block;
  margin-right: 40px;
  height: 1px;
  width: 60px;
  background-color: $titleColorDark;
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

.footer__social-link {
  display: block;
  padding: 15px 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: $titleColorDark;

  cursor: pointer;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer__copy {
  display: flex;
  align-items: center;
}

.footer__copy-icon {
  display: block;
  margin-right: 6px;
  width: 12px;
  height: 12px;
  fill: $secondTextColor;
}

.footer__copy-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: $secondTextColor;
}
