.hero {
  padding: 0;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.hero__left {
  @media screen and (max-width: $tablet - 1px) {
    display: none;
  }

  flex-shrink: 0;
  width: 159px;
}

.hero__slider {
  flex-grow: 1;
}

.hero__slide1 {
  min-height: 580px;
  padding: 208px 31px 183px 31px;

  background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
    url(../images/hero/hero3-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
      url(../images/hero/hero3-480@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    min-height: 680px;
    padding: 272px 120px 245px 120px;

    background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
      url(../images/hero/hero3-768.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
        url(../images/hero/hero3-768@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 307px 100px 206px 100px;

    background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
      url(../images/hero/hero3-1200.jpg);
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $heroOverlay, $heroOverlay),
        url(../images/hero/hero3-1200@2x.jpg);
    }
  }
}

.hero__subtitle {
  margin-bottom: 20px;
}

.hero__title {
  margin-bottom: 20px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.167;
  letter-spacing: 0.05em;

  color: $titleLight;

  @media screen and (max-width: 420px) {
    font-size: 40px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 1.181;
    letter-spacing: 0.05em;
  }
}

.hero__text {
  max-width: 305px;

  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;

  color: $secondTextColor;

  @media screen and (min-width: $tablet) {
    max-width: 360px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 470px;
    font-size: 18px;
    line-height: 1.667;
    letter-spacing: 0.02em;
  }
}
