.order-button {
  padding: 12px 19px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $buttonTextColor;

  border: 1px solid $accentColor;
  border-radius: 25px;
  background-color: transparent;

  &:hover {
    background-color: $accentColor;
    cursor: $myCursor;
  }
}
